# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [2]:
num1 = 256
num2 = 256
print("id(num1):",id(num1), "\nid(num2):", id(num2))
num1 = 257
num2 = 257
print("id(num1):",id(num1), "\nid(num2):", id(num2))

id(num1): 134849627054288
id(num2): 134849627054288
id(num1): 134849196729008
id(num2): 134849196729424

значення до 256 посилаються на одну комірку, від 257 на різні

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [3]:
bool_var = True
print(isinstance(bool_var, bool))
print(isinstance(bool_var, int))
print(isinstance(bool_var, float))

True
True
False

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [5]:
int_var = 21
float_var = 1.01
print(" +:", int_var + float_var)
print(" -:", int_var - float_var)
print(" /:", int_var / float_var)
print(" *:", int_var * float_var)
print("//:", int_var // float_var)
print(" %:", int_var % float_var)
print("**:", int_var ** float_var)

 +: 22.01
 -: 19.99
 /: 20.792079207920793
 *: 21.21
//: 20.0
 %: 0.7999999999999998
**: 21.649181811129967

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [14]:
dynamic_var = 1.1
print(isinstance(dynamic_var, float))
print(isinstance(dynamic_var, int))

dynamic_var = int(dynamic_var)
print(isinstance(dynamic_var, float))
print(isinstance(dynamic_var, int))

int_bool_var = int(bool_var)
print("\nboolvar:", bool_var,
      "\nint_boolvar:", int_bool_var)

True
False
False
True

boolvar: True
int_boolvar: 1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [15]:
empty_str1 = ""
empty_str2 = str()
print(empty_str1, empty_str2)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [16]:
apostrophe_str = 'flo\'wer'
raw_apostrophe_str = r'flo\'wer'
print(apostrophe_str)
print(raw_apostrophe_str)

flo'wer
flo\'wer

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [17]:
surname = "Holianska"
my_surname = f"My surname is {surname}"

print(my_surname)

My surname is Holianska

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [27]:
dog = "My dog is crazy."
dog = dog.lower()
dog = dog.replace(".", "")
dog_list = [dogi for dogi in dog.split()]

print(dog_list)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [20]:
list1 = list(range(3))
list2 = [1, 2, 3]
print("len(list1):", len(list1))

len(list1): 3

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [28]:
list1 = list(range(0, 3))
list2 = list(range(3, 6))
list1.append([list2])
print(list1)

[0, 1, 2, [[3, 4, 5]]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [22]:
list_w_attachments = [[0, 1, 2], [3, 4, 5], [6, 7, 8]]
print(list_w_attachments[-1][0])

6

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [33]:
test_list = [0, 1.1, True, None, [1, 2], "all", (1,), 23.2, True, 3]
test_list = test_list[2:-2]
print(test_list)

[True, None, [1, 2], 'all', (1,), 23.2]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [24]:
test_tuple = (1,)
print(test_tuple)

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Схоже:

Обидва типи даних дозволяють зберігати кілька об'єктів.
Вони можуть містити об'єкти різних типів даних.
Обидва мають спільні методи, такі як len() та index().
В обох випадках об'єкти індексуються від 0 до n.

Відмінності:

Синтаксично вони відрізняються у тому, як вони створюються та змінюються.
Списки є мутабельними, тоді як кортежі є немутабельними.
Кортежі, як правило, ефективніші в пам'яті.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [29]:
test_tuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
print(test_tuple[::-2])

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [36]:
my_set = set()
my_set.add(4)
my_set.add(2)
my_set.add(3)
my_set.add(1)
my_set.add("D")
print(my_set)

{1, 2, 3, 4, 'D'}

множина є змінним типом даних

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [37]:
my_set = {1, 1, 2, 67, 67, 8, 9}
print(my_set)

{1, 2, 67, 8, 9}

в множинах всі елементи є лиш в одному екземплярі

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [40]:
set1 = {1, 4, 3, 2, 5}
set2 = {4, 5, 2, 7, 12}

union_set = set1.union(set2)
print(union_set)

difference_set = set1.difference(set2)
print(difference_set)

intersect_set = set1.intersection(set2)
print(intersect_set)

sym_difference_set = set1.symmetric_difference(set2)
print(sym_difference_set)

{1, 2, 3, 4, 5, 7, 12}
{1, 3}
{2, 4, 5}
{1, 3, 7, 12}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [43]:
my_dict = {}
my_dict[1] = 0
my_dict[3.14] = 1
my_dict["two"] = 2
my_dict[(1,)] = 3

print(my_dict)

{1: 0, 3.14: 1, 'two': 2, (1,): 3}

список не може бути ключем, бо список мутабельний. а ключ має бути незмінним типом даних. але от кортеж може бути

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [45]:
test_dict = {"Flower": "red"}
dictio = {"Rose": test_dict}
wrapper = {"Violet": dictio}
inner_value = wrapper["Violet"]["Rose"]["Flower"]
print(inner_value)

red

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.